RewriteEngine on
# If a directory or a file exists, use it directly
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
# Otherwise forward it to index.php
RewriteRule . index.php

Options -Indexes
ErrorDocument 403 http://disperindag.jatimprov.go.id/error-page/error.htm
ErrorDocument 404 http://disperindag.jatimprov.go.id/error-page/error.htm